<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <ChaiTechnicalSettings>
      <add setting="ScopeName" value="SyncScopeWWPComputer" />
      <add setting="clientConn" value="Data Source=.\SQlExpress;Initial Catalog=LISSyncDB;User ID=ruser;Password=password" />
    </ChaiTechnicalSettings>
</configuration>
