USE [LISSyncDB]
GO
/****** Object:  Table [dbo].[VLSummary]    Script Date: 10/11/2018 11:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLSummary](
	[Id] [uniqueidentifier] NOT NULL,
	[Fullname] [nvarchar](50) NULL,
	[PatientCode] [nvarchar](50) NULL,
	[PatientType] [nvarchar](50) NULL,
	[ARTNumber] [nvarchar](50) NULL,
	[Sex] [nvarchar](10) NULL,
	[DateOfBirth] [datetime] NULL,
	[ResidingRegionState] [int] NULL,
	[ResidingGTownShip] [int] NULL,
	[RegistrationNo] [nvarchar](100) NULL,
	[BatchNumber] [nvarchar](50) NULL,
	[FacilitytId] [int] NULL,
	[Age] [int] NULL,
	[Age_Month] [int] NULL,
	[CurrentRegimen] [nvarchar](50) NULL,
	[ARVRegimen] [nvarchar](50) NULL,
	[ageinweeks] [int] NULL,
	[ReasonTestId] [int] NULL,
	[ReasonfortestOther] [nvarchar](100) NULL,
	[SpecimenTypeId] [int] NULL,
	[PreviousLabNumber] [nvarchar](50) NULL,
	[NameOfNurseOrHEOCollectingDBS] [nvarchar](100) NULL,
	[Adherence] [nvarchar](200) NULL,
	[PrevVLcopiesml] [decimal](18, 2) NULL,
	[PrevVLLog] [decimal](18, 2) NULL,
	[Mostrecentviralload] [decimal](18, 2) NULL,
	[MostrecentviralloadLog] [decimal](18, 2) NULL,
	[Mostrecentviralloadresult] [nvarchar](50) NULL,
	[Daterecentviralload] [datetime] NULL,
	[BaselineCD4count] [int] NULL,
	[MostrecentCD4count] [int] NULL,
	[DateCD4Test] [datetime] NULL,
	[Patientontherapy] [bit] NULL,
	[ARTStaringDate] [datetime] NULL,
	[SecondLineARTStartingDate] [datetime] NULL,
	[Patientevertherapy] [bit] NULL,
	[SampleStored] [bit] NULL,
	[Temperature] [decimal](18, 2) NULL,
	[Duration] [nvarchar](50) NULL,
	[RequestCreatedDate] [datetime] NULL,
	[RequestUpdatedDate] [datetime] NULL,
	[LabNumber] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[RecievedDate] [datetime] NULL,
	[SampleCollectedDate] [datetime] NULL,
	[SampleShipmentDate] [datetime] NULL,
	[specimencollectionTime] [nvarchar](50) NULL,
	[RegistrationDate] [datetime] NULL,
	[SpecimenQuality] [nvarchar](50) NULL,
	[RejectedReasonId] [int] NULL,
	[FinalReportResult] [nvarchar](50) NULL,
	[FinalReportDate] [datetime] NULL,
	[Comment] [nvarchar](50) NULL,
	[Copies_ml] [decimal](18, 2) NULL,
	[LogCopies] [decimal](18, 2) NULL,
	[ResultCreatedDate] [datetime] NULL,
	[ResultUpdatedDate] [datetime] NULL,
	[Reasonfortest] [nvarchar](50) NULL,
	[LabInstrumentname] [nvarchar](50) NULL,
	[LabInstrumentId] [int] NULL,
	[ResultCreatedBy] [nvarchar](100) NULL,
	[ResultApprovedBy] [nvarchar](100) NULL,
	[TestedBy] [nvarchar](50) NULL,
	[StatusId] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[DateChanged] [datetime] NULL,
	[Lab] [nvarchar](50) NULL,
	[LabCode] [nvarchar](50) NULL,
	[Treatment] [nvarchar](max) NULL,
	[Drug] [nvarchar](max) NULL,
	[RequestId] [int] NULL,
	[SpecimenId] [int] NULL,
	[SpecimenResultId] [int] NULL,
	[PatientId] [int] NULL,
	[DataElement1] [nvarchar](50) NULL,
	[DataElement2] [nvarchar](50) NULL,
	[DataElement3] [nvarchar](50) NULL,
	[DataElement4] [nvarchar](50) NULL,
	[DataElement5] [nvarchar](50) NULL,
	[DataElement6] [nvarchar](50) NULL,
	[DataElement7] [nvarchar](50) NULL,
 CONSTRAINT [PK_VLSummery_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EIDSummary]    Script Date: 10/11/2018 11:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EIDSummary](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientCode] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[Sex] [nvarchar](20) NULL,
	[MorGFirstName] [nvarchar](50) NULL,
	[MorGMiddleName] [nvarchar](50) NULL,
	[MorGSurname] [nvarchar](50) NULL,
	[MorGTelNumber] [nvarchar](50) NULL,
	[MorGResidingRegionState] [nvarchar](50) NULL,
	[MorGResidingGTownShip] [nvarchar](50) NULL,
	[PatientType] [nvarchar](50) NULL,
	[PMTCTCode] [nvarchar](50) NULL,
	[BatchNumber] [nvarchar](50) NULL,
	[FacilityId] [int] NULL,
	[Age] [int] NULL,
	[ageinweeks] [int] NULL,
	[ReasonTest] [nvarchar](50) NULL,
	[SpecimenType] [nvarchar](50) NULL,
	[PreviousLabNumber] [nvarchar](50) NULL,
	[NameOfNurseOrHEOCollectingDBS] [nvarchar](50) NULL,
	[MotherHIVStatus] [nvarchar](50) NULL,
	[FatherHIVStatus] [nvarchar](50) NULL,
	[ModeOfDelivery] [nvarchar](50) NULL,
	[MotherARVStatus] [nvarchar](50) NULL,
	[IfARVStatusOnWeekStarted] [nvarchar](50) NULL,
	[DifficultBirth] [nvarchar](50) NULL,
	[VillageBirth] [nvarchar](50) NULL,
	[MotherARVRegimen] [nvarchar](50) NULL,
	[TimingIfMotherARVRegimenOther] [nvarchar](50) NULL,
	[InfantARVStatus] [nvarchar](50) NULL,
	[TimingIfInfantARVSatusOther] [nvarchar](50) NULL,
	[ExclusiveBreastFeeding] [nvarchar](50) NULL,
	[ExclusiveReplacementFeeding] [nvarchar](50) NULL,
	[IfReplacementYesAgeAtWean] [nvarchar](50) NULL,
	[MixedFeeding] [nvarchar](50) NULL,
	[BreastFeedingUnknown] [nvarchar](50) NULL,
	[Agewhenlastbreastfed] [int] NULL,
	[AnyPriorHIVTestResult] [nvarchar](50) NULL,
	[PriorHIVTestResult] [nvarchar](50) NULL,
	[PriorHIVTestDate] [datetime] NULL,
	[PriorTestType] [nvarchar](50) NULL,
	[RequestFormCreatedDate] [datetime] NULL,
	[RequestFormUpdatedDate] [datetime] NULL,
	[LabNumber] [nvarchar](50) NULL,
	[RecievedDate] [datetime] NULL,
	[SampleCollectedDate] [datetime] NULL,
	[SampleShipmentDate] [datetime] NULL,
	[RegistrationDate] [datetime] NULL,
	[DBSSpecimenQuality] [nvarchar](50) NULL,
	[RejectedReasonId] [int] NULL,
	[SpecimenCreatedDate] [datetime] NULL,
	[SpecimenUpdateDate] [datetime] NULL,
	[FirstTestDate] [datetime] NULL,
	[FirstTestResult] [nvarchar](50) NULL,
	[RepeatTest] [bit] NULL,
	[RepeatReason] [nvarchar](300) NULL,
	[SecondTestResult] [nvarchar](50) NULL,
	[SecondTestDate] [datetime] NULL,
	[RepeatSecondTest] [bit] NULL,
	[RepeatReasonSecondTest] [nvarchar](300) NULL,
	[ThirdTestResult] [nvarchar](50) NULL,
	[ThirdTestDate] [datetime] NULL,
	[FinalReportResult] [nvarchar](50) NULL,
	[FinalReportDate] [datetime] NULL,
	[SecondDBSRequired] [nvarchar](50) NULL,
	[FirstTestAbsorbanceValue] [float] NULL,
	[SecondTestAbsorbanceValue] [float] NULL,
	[ThirdTestAbsorbanceValue] [float] NULL,
	[Comment] [nvarchar](50) NULL,
	[TestedBy] [nvarchar](50) NULL,
	[ResultCreatedDate] [datetime] NULL,
	[ResultUpdatedDate] [datetime] NULL,
	[LabInstrumentname] [nvarchar](50) NULL,
	[LabInstrumentId] [int] NULL,
	[StatusId] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[DateChanged] [datetime] NULL,
	[Lab] [nvarchar](50) NULL,
	[LabCode] [nvarchar](50) NULL,
	[ResultApprovedBy] [nvarchar](50) NULL,
	[RequestId] [int] NULL,
	[SpecimenId] [int] NULL,
	[SpecimenResultId] [int] NULL,
	[DataElement1] [nvarchar](50) NULL,
	[DataElement2] [nvarchar](50) NULL,
	[DataElement3] [nvarchar](50) NULL,
	[DataElement4] [nvarchar](50) NULL,
	[DataElement5] [nvarchar](50) NULL,
	[DataElement6] [nvarchar](50) NULL,
	[DataElement7] [nvarchar](50) NULL,
 CONSTRAINT [PK_EIDSummery_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
